{% if region == "top" or region == "bottom" %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
{% endif %}

<section class="region zone-{{ layoutRegionZone.identifier|lower }}{% if cssClass is defined and cssClass|length > 0 %} {{ cssClass }}{% endif %}">
    {% for block in layoutRegionZone.blocks %}
        {% if block.items|length > 0
            or (block.customAttributes is defined and block.customAttributes|length > 0)
            or (configResolver.getParameter(block.type ~ '.ManualAddingOfItems', 'block') == 'disabled' and not configResolver.hasParameter( block.type ~ '.FetchClass', 'block' )) %}

            {% if params[ block.type ] is defined %}
                {{ render_esi( controller( "ez_page:viewBlockById", {'id': block.id, 'params': params[ block.type ] } ) ) }}
            {% else %}
               {{ render_esi( controller( "ez_page:viewBlockById", {'id': block.id } ) ) }}
            {% endif %}

        {% endif %}
    {% endfor %}
</section>

{% if region == "top" or region == "bottom" %}
        </div>
    </div>
</div>
{% endif %}