{% if currentLocationPath|length > 1 %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                {% for pathItem in currentLocationPath %}
                    {% if pathItem.url != false %}
                        <li><a href="{{ pathItem.url }}">{{ pathItem.text }}</a></li>
                    {% else %}
                        <li>{{ pathItem.text }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}
