<header>
    <div class="container">
        <div id="main-nav">
            {% include 'design:page_topmenu.tpl' with {"root_node": rootLocation, "site_info_node": siteInfoLocation, "current_node_id": mainCategoryLocationId } %}
        </div>
    </div>
</header>
