includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Symfony

        - '#generic interface Symfony\\Component\\Form\\\w+ (but )?does not specify its types: TData#'
        - '#extends generic class Symfony\\Component\\Form\\\w+ but does not specify its types: TData#'

        # Doctrine DBAL

        - '#Property Netgen\\Bundle\\SiteBundle\\Entity\\UserAccountKey::\$id is never written, only read#'

        # Ibexa DXP

        - '#Access to an undefined property Ibexa\\Contracts\\Core\\FieldType\\Value::\$\w+#'
        - '#Access to an undefined property Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Query\\CriterionInterface::\$\w+#'
        - '#Cannot access property \$\w+ on Ibexa\\Contracts\\Core\\FieldType\\Value\|null#'

        # Ibexa Site API

        - '#Access to an undefined property Netgen\\IbexaSiteApi\\API\\Settings::\$\w+#'

        # Wrong typehints in vendor packages

        -
          message: '#has parameter \$parameters with no value type specified in iterable type array#'
          path: bundle/Core/MVC/Symfony/FieldType/BinaryBase/ContentDownloadUrlGenerator.php

        -
          message: '#has parameter \$parameters with no value type specified in iterable type array#'
          path: bundle/QueryType/SearchQueryType.php

        -
          message: '#has parameter \$(blocks|context) with no value type specified in iterable type array#'
          path: bundle/Templating/Twig/
