includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Doctrine specifics

        - '#Property Netgen\\Bundle\\SiteBundle\\Entity\\UserAccountKey::\$id is never written, only read#'

        # Ibexa DXP specifics

        - '#Access to an undefined property Ibexa\\Contracts\\Core\\FieldType\\Value::\$\w+#'
        - '#Cannot access property \$\w+ on Ibexa\\Contracts\\Core\\FieldType\\Value\|null#'
        - '#Access to an undefined property Netgen\\IbexaSiteApi\\API\\Settings::\$rootLocationId#'

        # Wrong typehints in vendor packages

        -
          message: '/Parameter #2 \$value of method Knp\\Menu\\ItemInterface::setAttribute\(\) expects bool\|string\|null, int\|null given/'
          path: bundle/Menu/RelationListMenuBuilder.php

        -
          message: '#has parameter \$parameters with no value type specified in iterable type array#'
          path: bundle/Core/MVC/Symfony/FieldType/BinaryBase/ContentDownloadUrlGenerator.php

        -
          message: '#has parameter \$parameters with no value type specified in iterable type array#'
          path: bundle/QueryType/SearchQueryType.php

        -
          message: '#has parameter \$(blocks|context) with no value type specified in iterable type array#'
          path: bundle/Templating/Twig/DebugTemplate.php

        -
          message: '#Method Netgen\\Bundle\\SiteBundle\\Templating\\Twig\\DebugTemplate::doDisplay\(\) has no return type specified#'
          path: bundle/Templating/Twig/DebugTemplate.php
