services:
    ngsite.pagerfanta.view.site:
        class: Netgen\Bundle\SiteBundle\Pagerfanta\View\SiteView
        arguments:
            - "@twig"
            - "@ibexa.config.resolver"
        tags:
            - { name: pagerfanta.view, alias: ngsite }
