{% if ezpublish.configResolver.hasParameter( 'SiteSettings.FacebookApi', 'ngmore' )
    and ezpublish.configResolver.hasParameter( 'GenericData.app_id', 'ngopengraph' ) %}
    {% set facebook_api = ezpublish.configResolver.getParameter( 'SiteSettings.FacebookApi', 'ngmore' ) %}

    {# We check for 'enabled' for compatibility with legacy config #}
    {% if facebook_api == 'enabled' or facebook_api == true %}
        {% set facebook_app_id = ezpublish.configResolver.getParameter( 'GenericData.app_id', 'ngopengraph' ) %}
        {% set facebook_locale = 'en_US' %}
        {% if ezpublish.configResolver.hasParameter( 'SiteSettings.FacebookLocale', 'ngmore' ) %}
            {% set facebook_locale = ezpublish.configResolver.parameter( 'SiteSettings.FacebookLocale', 'ngmore' ) %}
        {% endif %}

        {% if facebook_app_id is not empty and facebook_locale is not empty %}
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/{{ facebook_locale|raw|escape( 'js' ) }}/all.js#xfbml=1&appId={{ facebook_app_id|raw|escape( 'js' ) }}";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        {% endif %}
    {% endif %}
{% endif %}
