{% set params = params|default( [] ) %}
{% set column_count = 0 %}
{% set block_column_count = 0 %}
{% set block_class = "" %}

<div class="row">

    {% for block in zone.blocks %}
        {% set smart_zone_width = "12_cols" %}
        {% if block.customAttributes.advanced_smart_zone_width is defined and block.customAttributes.advanced_smart_zone_width is not empty %}
            {% set smart_zone_width = block.customAttributes.advanced_smart_zone_width %}
        {% endif %}

        {% if column_count == 12 %}
            </div><div class="row">
            {% set column_count = 0 %}
        {% endif %}

        {% if smart_zone_width == "3_cols" %}
            {% set column_count = column_count + 3 %}
            {% set block_column_count = 3 %}
            {% set block_class = "col-sm-3 col-md-3 col-lg-3" %}
        {% elseif smart_zone_width == "4_cols" %}
            {% set column_count = column_count + 4 %}
            {% set block_column_count = 4 %}
            {% set block_class = "col-sm-4 col-md-4 col-lg-4" %}
        {% elseif smart_zone_width == "6_cols" %}
            {% set column_count = column_count + 6 %}
            {% set block_column_count = 6 %}
            {% set block_class = "col-sm-6 col-md-6 col-lg-6" %}
        {% elseif smart_zone_width == "8_cols" %}
            {% set column_count = column_count + 8 %}
            {% set block_column_count = 8 %}
            {% set block_class = "col-sm-8 col-md-8 col-lg-8" %}
        {% else %}
            {% set column_count = column_count + 12 %}
            {% set block_column_count = 12 %}
            {% set block_class = "col-sm-12 col-md-12 col-lg-12" %}
        {% endif %}

        {% if column_count > 12 %}
            </div><div class="row">
            {% set column_count = block_column_count %}
        {% endif %}

        {% set block_params = params|merge( blockSpecificParams[block.type]|default( [] ) ) %}

        <div class="{{ block_class }}">

            {% if ezpublish.configResolver.hasParameter( 'BlockSettings.' ~ block.type ~ '.SharedMaxAge', 'ngmore' ) %}
                {{ render_esi( controller( 'ez_page:viewBlockById', { 'id': block.id, 'params': block_params } ) ) }}
            {% elseif ezpublish.configResolver.hasParameter( 'BlockSettings.' ~ block.type ~ '.MaxAge', 'ngmore' ) %}
                {{ render_hinclude( controller( 'ez_page:viewBlockById', { 'id': block.id, 'params': block_params } ) ) }}
            {% else %}
                {{ render( controller( 'ez_page:viewBlockById', { 'id': block.id, 'params': block_params } ) ) }}
            {% endif %}

        </div>
    {% endfor %}

</div>
